
    <div class="head">
        <h1>
          Sign up to proceed further
        
        </h1>
      </div>
     <%if(locals.user){%>

<%-include('add_students')-%>
<a href="/mainscreen/render"> dest</a>

        <%}%>
      
      
      